[Unit]
Description=Notify Of Low Battery Levels

[Service]
Type=simple
ExecStart=/bin/sh %h/.scripts/battery-low-notify -L 15 -m "Warning: Low Battery" -p 5
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
