[Unit]
Description=Task Warrior Reminder timer

[Timer]
AccuracySec=10
OnCalendar=*-*-* 00:00:00
Unit=time-warrior-remind.service

[Install]
WantedBy=multi-user.target
