[Unit]
Description=HDMI Hotswap Systemd Service

[Service]
Type=simple
ExecStart=/bin/sh %h/.scripts/hdmi_hotswap
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
