[Unit]
Description=HDMI Hotswap Systemd Service

[Service]
Type=simple
ExecStart=/bin/sh %h/.scripts/hdmi-hotswap
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
