[Unit]
Description=Elgato Streamdeck Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u %h/.scripts/streamdeck
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
