[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lt = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --simplify-by-decoration
	lgfull = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --pretty=full
	dotfiles = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME
[credential]
	helper = cache --timeout 28800
[user]
	email = tuli.mathieu@gmail.com
	name = Mathieu Tuli
[merge]
    tool = nvim
[mergetool]
    keepBackup = false
[mergetool "nvim"]
    cmd = nvim \"$MERGED\" -c \"normal ]nzRzt\"
[color]
[color "branch"]
[color "diff"]
[color "status"]
  change = 1
