# [PATHS]
export SAVEHIST=300
export PATH=$PATH:/opt/cuda/bin:/opt/cuda/:~/.scripts:/opt/opencv:/usr/bin
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/cuda/lib64:/usr/lib/firmware/nvidia:/usr/lib/nvidia
export CUDA_HOME=/opt/cuda
export CPATH=/opt/opencv/include
export VISUAL=nvim
export EDITOR="$VISUAL"
export PROMPT_COMMAND="pwd > /tmp/whereami"
precmd() { eval "$PROMPT_COMMAND" }
export SYSTEMD_EDITOR=nvim
export MYPYPATH=~/github/object-tracking/venv/lib
export LANG=en_CA.UTF-8
export HDMI_ORIENTATION=r # options = r, n, l, m
