# [ALIASES]
# git config --global alias.lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
# git config --global alias.full_lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --pretty=full"
# alias dotfiles_git="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
alias sudo='sudo '
alias vi=nvim
alias vim=nvim
alias vidiff=vimdiff
alias powerlevel_colors='for code ({000..255}) print -P -- "$code: %F{$code}This is how your text would look like%f"'
alias store_git_credentials="git config --global credential.helper 'cache --timeout 28800'"
git config --global alias.lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
function cd_up() {
  cd $(printf "%0.s../" $(seq 1 $1 ));
}
alias "cd.."="cd_up"
