# [ALIASES]
# git config --global alias.lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
# git config --global alias.full_lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --pretty=full"
# alias dotfiles_git="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
alias sudo='sudo '
alias vi=nvim
alias vim=nvim
alias vidiff=vimdiff
alias wpa_cli='wpa_cli -i wlp2s0'
alias powerlevel_colors='for code ({000..255}) print -P -- "$code: %F{$code}This is how your text would look like%f"'
alias render_background='exec feh --bg-max $HOME/.config/i3/background.jpg'
alias store_git_credentials="git config --global credential.helper 'cache --timeout 28800'"
git config --global alias.lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
EC2 () {
    LESS=FRXS aws ec2 describe-instances --query 'Reservations[*].Instances[*].{ID:InstanceId,Type:InstanceType,Name:Tags[?Key==`Name`] | [0].Value,IP:PublicIpAddress,State:State.Name}' "$@" | less
    LESS=FRXS aws --profile mat ec2 describe-instances --query 'Reservations[*].Instances[*].{ID:InstanceId,Type:InstanceType,Name:Tags[?Key==`Name`] | [0].Value,IP:PublicIpAddress,State:State.Name}' "$@" | less
}
alias json_pretty='python -m json.tool'
alias screenshot='gm import /home/mat/pictures/screenshots/screenshot.png'
# alias nvidia-settings='optirun -b none nvidia-settings -c :8'
function cd_up() {
  cd $(printf "%0.s../" $(seq 1 $1 ));
}
alias "cd.."="cd_up"
alias copy="xclip -selection clipboard"
alias notepad="vi /home/mat/.notepad"
alias rename_window="i3-msg title_format "
