# [POWERLEVEL9k]
# FOR COLORS LIST
alias term_colors='for code ({000..255}) print -P -- "$code: %F{$code}This is how your text would look like%f"'
# ALSO TO CHANGE COLORS
# POWERLEVEL9K_<name-of-segment>_<state>_[BACKGROUND|FOREGROUND]
# Segment		|	States
# -----------------------------------------------------------
# battery		|	LOW, CHARGING, CHARGED, DISCONNECTED
# context		|	DEFAULT, ROOT, SUDO, REMOTE, REMOTE_SUDO
# dir			|	HOME, HOME_SUBFOLDER, DEFAULT, ETC
# dir_writable		|	FORBIDDEN
# disk_usage		|	NORMAL, WARNING, CRITICAL
# host			|	LOCAL, REMOTE
# load			|	CRITICAL, WARNING, NORMAL
# rspec_stats		|	STATS_GOOD, STATS_AVG, STATS_BAD
# status		|	ERROR, OK (note: only, if verbose is not false)
# symfony2_tests	|	TESTS_GOOD, TESTS_AVG, TESTS_BAD
# user			|	DEFAULT, SUDO, ROOT
# vcs			|	CLEAN, UNTRACKED, MODIFIED
# vi_mode		|	NORMAL, INSERT
source /usr/share/zsh-theme-powerlevel9k/powerlevel9k.zsh-theme

POWERLEVEL9K_MODE="nerdfont-complete"

# Prompt
POWERLEVEL9K_DISABLE_RPROMPT=false
POWERLEVEL9K_PROMPT_ON_NEWLINE=true
POWERLEVEL9K_MULTILINE_LAST_PROMPT_PREFIX="⏵ "
POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX=""

POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(custom_elementary_icon dir dir_writable vcs virtualenv anaconda docker_machine aws ssh)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(pyenv command_execution_time background_jobs)
POWERLEVEL9K_RPROMPT_ON_NEWLINE=true

# PYENV
POWERLEVEL9K_PYENV_BACKGROUND='11'
POWERLEVEL9K_PYENV_BACKGROUND='5'

POWERLEVEL9K_SSH_BACKGROUND='10'
POWERLEVEL9K_SSH_BACKGROUND='3'

# dir
POWERLEVEL9K_DIR_HOME_SUBFOLDER_BACKGROUND='6'
POWERLEVEL9K_DIR_HOME_SUBFOLDER_FOREGROUND='237'
POWERLEVEL9K_DIR_HOME_BACKGROUND='6'
POWERLEVEL9K_DIR_HOME_FOREGROUND='237'
POWERLEVEL9K_DIR_DEFAULT_BACKGROUND='6'
POWERLEVEL9K_DIR_DEFAULT_FOREGROUND='237'
POWERLEVEL9K_DIR_ETC_BACKGROUND='6'
POWERLEVEL9K_DIR_ETC_FOREGROUND='237'

# Segment Colors
POWERLEVEL9K_STATUS_OK_BACKGROUND='239'
POWERLEVEL9K_STATUS_OK_FOREGROUND='118'

POWERLEVEL9K_STATUS_ERROR_BACKGROUND='196'
POWERLEVEL9K_STATUS_ERROR_FOREGROUND='226'

# grey30
POWERLEVEL9K_VCS_CLEAN_FOREGROUND='237'
POWERLEVEL9K_VCS_CLEAN_BACKGROUND='010'
POWERLEVEL9K_VCS_UNTRACKED_FOREGROUND='237'
POWERLEVEL9K_VCS_UNTRACKED_BACKGROUND='1'
POWERLEVEL9K_VCS_MODIFIED_FOREGROUND='237'
POWERLEVEL9K_VCS_MODIFIED_BACKGROUND='11'

POWERLEVEL9K_VIRTUALENV_BACKGROUND='13'
POWERLEVEL9K_VIRTUALENV_FOREGROUND='237'

POWERLEVEL9K_COMMAND_EXECUTION_TIME_BACKGROUND='13'
POWERLEVEL9K_COMMAND_EXECUTION_TIME_FOREGROUND='237'

POWERLEVEL9K_VI_MODE_NORMAL_BACKGROUND='seagreen1'
POWERLEVEL9K_VI_MODE_NORMAL_FOREGROUND='grey30'
POWERLEVEL9K_VI_MODE_INSERT_BACKGROUND='seagreen1'
POWERLEVEL9K_VI_MODE_INSERT_FOREGROUND='grey30'

POWERLEVEL9K_CUSTOM_ELEMENTARY_ICON="echo `whoami` "
POWERLEVEL9K_CUSTOM_ELEMENTARY_ICON_BACKGROUND='9'
POWERLEVEL9K_CUSTOM_ELEMENTARY_ICON_FOREGROUND='237'

POWERLEVEL9K_VCS_GIT_GITHUB_ICON=$'\uF408 '

ZSH_DISABLE_COMPFIX=true
